@model DriftService.Models.Log
<link rel="stylesheet" href="~/Content/StyleSheetContactsTable.css" />
<link rel="stylesheet" href="~/Content/StyleSheet.css" />

@{
    ViewBag.Title = "Log details";
}

<div class="banner">
    <div class="banner-content">
        <h2><b>Log details</b></h2>
    </div>
</div>


<div>
    <dl class="dl-horizontal">
        <dt>
            <br />
            @Html.DisplayNameFor(model => model.HeadLine)
        </dt>

        <dd >
            <br />
            @Html.TextAreaFor(model => model.HeadLine, new { @readonly = true, @class = "form-control TextboxSubject" })
        </dd>
      
        <dt>
            <br />
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd >
            <br />
            @Html.TextAreaFor(model => model.Text, new { @readonly = true, @class = "form-control TextboxMessage" })
        </dd>

        <dt>
            <br />
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
          <br />
          @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            <br />
            Service type
        </dt>

        <dd>
            <br />
            @ViewBag.SelectedServiceType
        </dd>

    </dl>
</div>

<div class="text-aligin-right">
    @Html.ActionLink("Back to List", "Index")
</div>
    