@model IEnumerable<DriftService.Models.Log>
<link rel="stylesheet" href="~/Content/StyleSheetLogsTable.css" />
<link rel="stylesheet" href="~/Content/StyleSheet.css" />

@{
    ViewBag.Title = "Driftinformation";
}

<div class="jumbotron jumbotron-fluid jumbotronFirstpage">
    <div class="container ImageCenter">
        <img src="~/Content/Images/Driftservice-Notifikation.png" alt="Driftservice-Notifikation" />
    </div>
</div>

<div>
    <h4><b>DRIFTINFORMATION</b></h4>
    <p>
        Nedan hittar du all information om eventuella störningar.
        Vill du prenumerera på driftinformation och få dem via e-post och/eller sms klicka <a href= "@System.Web.Configuration.WebConfigurationManager.AppSettings["RegistrationHttpAdress"]">här</a> för att prenumerera.
        Du kan när du vill välja att avsluta din prenumeration.
        Planerade arbeten under s.k. servicefönster hittar du här <a href="https://www.coreit.se/servicefonster">www.coreit.se/servicefonster.</a>
    </p>
</div>
<form class="form-horizontal">
   
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "searchForm" }))
    {
        <div class="form-group col-sm-9 col-lg-9">
            @Html.TextBox("SearchString", null, new { placeholder = " Sök på ord...", id = "searchString" })
            @Html.TextBox("SearchDate", null, new { placeholder = ViewBag.SelectedDate, id = "datepicker" })
            <button type="submit" value="Search" id="SearchBtn" class="glyphicon glyphicon-search btn-sm btn-default"></button>
            <span>Sök på ord och/eller datum. Datum visar 2 veckor bakåt.</span>
        </div>
    }
</form>



<div>
    <table class="table Table-border-spacing">
        <thead>
            <tr>
                <th class="th-td-padding th-first">
                   Rubrik
                </th>
                <th class="th-td-padding th-second">
                   Innehåll
                </th>
                <th class="th-td-padding th-third">
                   Datum
                </th>
                <th class="th-td-padding th-fourth">
                    <b>Tjänster</b>
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr class="searchRow" onclick="document.location='@(Url.Action("Details", new { id = item.LogID }))'">
                <td class="th-td-padding td-first">
                    @(item.HeadLine.Length > 15 ? item.HeadLine.Substring(0, 25) + "..." : item.HeadLine)
                </td>
                <td class="th-td-padding td-second">
                    @(item.Text.Length > 40 ? item.Text.Substring(0, 40) + "..." : item.Text)
                </td>
                <td class="th-td-padding td-third">
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td class="th-td-padding td-fourth">
                    @(item.SelectedServiceType.Length > 40 ? item.SelectedServiceType.Substring(0, 40) + "..." : item.SelectedServiceType)
                </td>

            </tr>
        }

    </table>
</div>





